@media (max-width: 1200px)
    .menu
        &_item
            padding: 0 20px
        &_link
            font-size: 11px
    .promo
        &_header
            font-size: 50px
        &_subheader
            font-size: 30px